<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar" style="height: auto;">
   
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu tree" data-widget="tree">
      
      <!--li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Formulário </span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Adicionar Horas</a></li>
          <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editar Dados</a></li>
        </ul>
      </li-->
      
      <li class="treeview" (click)="toggle()" [routerLinkActive]="['open', 'menu-open']">
        <a href="#">
          <i class="fa fa-book"></i> <span>Report de Horas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu"   [class.disp-block]="isOpen" [class.disp-none]="!isOpen">
          <li><a [routerLink]="['/']" ><i class="fa fa-circle-o"></i> Formulário</a></li>
        </ul>
      </li>

      <!-- Para definição de labels do projeto
      <li class="header">LABELS</li>
      <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
      <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li> -->
  </ul>
  
  </section>
  <!-- /.sidebar -->
</aside>