<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{info}}</p>
                <p class="text-warning"><small>{{smallInfo}}</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{cancelButtonText}}</button>
                <button type="button" (click)="onConfirmModal()" data-dismiss="modal" class="btn btn-primary">{{confirmButtonText}}</button>
            </div>
        </div>
    </div>
</div>