<div class="container">
    <div style="width: 300px; margin:auto; display:block; text-align: center;"><h3> Pesquisa</h3>
      <input class="form-control" (input)="onInputSearch()" #searchBar type="text">
    </div>
  </div>
<br><br>

<app-server-response #serverReponseComponent sucessMessage="Sprint deletada!"></app-server-response>
<br><br>
<div class="panel panel-default" [class.padding]="showLoading">

  <app-modal-alert #modalAlertReqComponent showTableData="true" modalId="myModalRequisite" [title]="requisiteModalTitle" smallInfo="" info=""
    confirmButtonText="Ok"  [showCancelButton]="false" cancelButtonText="" [component]="this" [callBackResolver]="modalCallBackResolver"></app-modal-alert>


  <app-modal-alert modalId="myModalDelete" title="Confirme" smallInfo="Essa ação não pode ser revertida!" [info]="infoModalMessage"
    confirmButtonText="Deletar" cancelButtonText="Cancelar" [component]="this" [callBackResolver]="modalCallBackResolver"></app-modal-alert>




  <table class="table">
    <!--TABLE HEADER-->
    <thead>
      <tr>
        <th>#n.</th>
        <th>Nome</th>
        <th>Data de início</th>
        <th>Data de entrega</th>
        <th>Status</th>
        <th>Requisitos</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody *ngFor="let sprint of sprints$ | async">
      <tr [@fadeInOut]="canShowSearch(sprint) ? 'fadeIn' : 'fadeOut'">
        <th scope="row">{{sprint.number}}</th>
        <td>{{sprint.name}}</td>
        <td>{{sprint.startDate | date}}</td>
        <td>{{sprint.dueDate | date}}</td>
        <td>{{formatStatus(sprint.status)}}</td>

        <td >
          <span (click)="onClickShowModalRequisite(sprint)" href="#myModalRequisite" data-toggle="modal" class="glyphicon  glyphicon-eye-open app-icon " style="margin-left: 23px;" ></span>
        </td>

        <td>
          <span routerLink="/sprints-edit/{{sprint.id}}" class="glyphicon glyphicon-edit app-icon "></span>
          <a href="#myModalDelete" data-toggle="modal"><span (click)="onClickDelete(sprint)" class=" glyphicon glyphicon-trash app-icon del-icon"></span></a>
        </td>

      </tr>
    </tbody>
  </table>
</div>