.loader {
    border: 18px solid #f3f3f3;
    border-top: 18px solid #8bcf9d; 
    border-radius: 50%;
    width: 70px;
    margin: auto;
    
    display: block;
    height: 70px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .padding{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .app-icon{
    font-size:  16px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 6px;
    background: #dadada;
    border-radius: 9px;
  }

  .del-icon{
    color: black;
    margin-left:5px;
    background: #f443369c
  }